#IGNORED EXTENSIONS
*/.js
*/.ts

#GLOBALLY IGNORED FILES
**/app.py

#IGNORED FILES
howdy.js
./ignoreme.py
app.py
.DS_Store
/test_dirs/one_level_dir/init.lua
test_dirs/one_level_dir/meeps.txt

#IGNORED DIRECTORIES
/.git/hooks
test_dirs/two_level_dir
/test_dirs/two_level_dir/
/test_dirs/two_level_dir
/lua

